body {
    font-family: sans-serif;
}

.tree-container {
    width: 30%;
}

.tree,
.tree ul {
    list-style: none;
}

.tree a {
    text-decoration: none;
    color: initial;
}

/*Tabulacion de las subcarpetas*/
.subtree {
    padding-left: 1.75em;
}

.folder {
    display: block;
    margin: 10px 0;
}

.fa-folder {
    color: #f1d364;
}

.fa-chevron-circle-down,
.fa-chevron-circle-right {
    color: #333;
}